/* --- GENERAL --- */

/* margin: top dcha bot izq*/
* {
    margin: 0;
    outline: none;
    scrollbar-color: #b4aee8 #e0e0e0;
    scrollbar-gutter: stable;
    font-family: open_sans_regular;
}

.portada h1 {
    color: #37e2d5;
    font-family: norwester;
    width: 100%;
    text-align: center;
    padding-top: 17%;
    font-size: 9em;
}

.portada h2 {
    color: #d23a99;
    font-family: open_sans_semi_bold;
    width: 100%;
    text-align: center;
    padding-top: 3.5%;
    font-size: 2.2em;
}

/* header */
nav {
    background-color: #0a475c;
    box-shadow: 600px -16px black;
}

header {
    width: 100%;
    float: inline-end;
    display: table;
    overflow: hidden;
}

.nav_enlace {
    font-family: norwester;
    font-size: 1.3em;
    color: #c70a80;
    opacity: 1;
    margin-left: 1em;
    text-decoration: none;
}

.nav_enlace:hover {
    color: #c70a80;
    border-bottom: 0.1em solid #c70a80;
}

.log {
    color: #37E2D5;
}

.log:hover {
    color: #FBCB0A;
    opacity: 1;
}

.navbar-toggler {
    border: none !important;
}

/* footer */
footer {
    background-color: #0a475c;
    color: #c70a80;
    font-size: 0.8em;
}

.pie_titulo {
    font-family: norwester;
    margin-top: 0.6em;
    margin-left: 0.4em;
}

.pie_texto {
    margin-left: 1em;
    margin-right: 5em;
    font-size: 1.2em;
    text-align: justify;
    text-justify: inter-word;
}

footer a {
    color: #37e2d5;
    font-size: 1.1em;
    opacity: 0.6;
    text-decoration: none;
}

footer a:hover {
    color: #37e2d5;
    opacity: 1;
}

.pie_links {
    list-style-type: none;
}

.pie_links li {
    display: block;
}

.pie_links.inline li {
    display: inline-block;
}

.pie_pagina .row .copyright {
    margin-bottom: 1%;
}

.copyright {
    text-align: center;
}

/* --- LANDPAGE --- */

/* img de portada y texto interior */
.portada {
    margin-top: 3%;
    max-width: 100%;
    height: 100%;
    background: url(/imgs/wp_landpage.jpg);
    background-size: cover;
}

.portada h2 span {
    font-family: open_sans_medium;
}

/* cuerpo del landpage */
.cuerpo_fondo {
    background-color: #e5e5e5;
}

.cuerpo_el_proyecto {
    height: 42em;
    width: 80%;
    margin: auto;
}

/* contacto */
.cuerpo_contacto {
    margin: 0 5% 0 5%;
    padding-top: 2em;
    padding-bottom: 3em;
    display: flex;
}

.formulario_contacto {
    width: 24em;
    height: 26.5em;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #0a475c;
    margin: auto; 
    padding: 20px 30px; 
    box-sizing: border-box;
    position: relative;
}

.contacto_titulo {
    font-family: norwester;
    margin-top: 0.1em;
    padding-bottom: 0.25em;
    width: 180px;
    color: #0a475c;    
}

.formulario_contacto p input {
    width: 100%;
    padding: 0.6em;
    box-sizing: border-box;
    border: 0;
    background: none;
    transition: all .4s;
    border-bottom: 1.5px solid #0a475c;
}

.formulario_contacto p input:focus {
    border-bottom: 1.5px solid #FBCB0A;
}

.formulario_contacto p:before {
    content: attr(type);
    display: block;
    margin-top: 2.2em;
    font-size: 14px;
}

.formulario_contacto .btn_enviar_form {
    float: right;
    padding: 0.5em 1.5em 0.5em 1.5em; /* top dcha bot izq*/
    margin: 8px 0 0;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    transition: all .3s
}

.formulario_contacto .btn_enviar_form:hover {
    opacity: 1;
    background: #0a475c;
    border: 2px solid #0a475c;
    color: white;
}

.formulario_contacto .btn_enviar_form:active {
    opacity: 0.8;
    background: #0a475c;
    border: 2px solid #0a475c;
    color: white;
}

.tlf_email {
    position: absolute;
    bottom: -1em;
    right: -1.5em;
    padding: 0.5em 1.5em 0.5em 1em;
    background-color: #590696;
    color: white;
    width: auto;
    border-radius: 6px;
    font-size: 0.9em;
    box-shadow: 10px 10px 40px -14px #590696;
}

.fa {
    padding-right: 0.75em;
}

.mapa {
    display: flex;
    margin: auto;
    width: 750px;
    height: 450px;
    box-shadow: 0 0 40px -10px #0a475c;
}

/* --- PERFIL --- */

/* Usuario conectado */

.perfil_cuerpo {
    background: url(/imgs/wp_perfil.jpg);
    background-size: cover;
    text-align: center;
}

.titulo_loggeado {
    padding-top: 3.4em;
    font-family: open_sans_semi_bold;
    color: #FBCB0A;
    font-size: 2.8em;
    margin-bottom: 1.8em;
}

.perfil_form {
    padding-bottom: 2.4em;
}

.perfil_opcion {
    font-size: 1.9em;
    font-family: open_sans_semi_bold;
    color: #37e2d5;
}

.perfil_cuerpo h4 {
    font-size: 1.2em;
    color: #37e2d5;
}

.input_perfil {
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0.2em 1.5em 0.2em 0.2em;
}

.perfil_submit {
    padding: 0.2em 1.5em 0.2em 1.5em; /* top dcha bot izq*/
    margin-left: 0.8em;
    text-decoration: none;
    color: 0a475c;
    border: 2px solid #b4aee8;
    border-radius: 4px;
    background-color: #b4aee8;
    transition: all .3s
}

.submit_cambio:hover {
    opacity: 1;
    background: #0a475c;
    border: 2px solid #0a475c;
    color: white;
}

.submit_borrado:hover {
    border: 2px solid red;
    background-color: red;
    color: white;
}

/* Usuario no conectado */

.cuerpo_perfil_no_log {
    height: 32em;
}

.titulo_no_loggeado {
    padding-top: 6em;
    font-family: open_sans_medium;
    color:#FBCB0A;
    font-size: 2.2em;
    margin-bottom: 2em;
}

.btn_perfil {
    padding: 0.5em 1.5em 0.5em 1.5em; /* top dcha bot izq*/
    margin: 0 2.5em 0 2.5em;
    text-decoration: none;
    border: 2px solid #78788c;
    color: white;
    background-color: #0a475c;
    transition: all .3s;
}

.btn_perfil:hover {
    opacity: 1;
    background: #FBCB0A;
    border: 2px solid #FBCB0A;
    color: #0a475c;
}

.btn_perfil:active {
    opacity: 0.8;
    background: #0a475c;
    border: 2px solid #0a475c;
    color: white;
}

/* PANEL DE ADMINISTRADOR */
.panel_admin_cuerpo {
    background: url(/imgs/wp_admin.jpg);
    background-size: cover;
    text-align: center;
}

.admin_form {
    width:20%;
    margin: 0 auto;
    text-align: center;
}

.perfil_datalist, .admin_input {
    width:100%;
    margin-bottom: 1em;
}

.admin_titulo {
    font-family: norwester;
    font-size: 3.4em;
    color: #b4aee8;
    padding: 3em 0 0.8em 0;
}

.admin_opcion {
    font-family: norwester;
    font-size: 1.6em;
    color: #37e2d5;
    margin-bottom: 0.6em;
}

.perfil_apartado {
    font-size: 1.3em;
    color: #FBCB0A;
    text-align: center;
    padding-bottom: 2em;
    margin: -1em 0 0 0;
}

.admin_radio_btn {
    display: inline-flex;
    font-size: 1.1em;
    color: #e0e0e0;
}

.submit_admin {
    margin-bottom: 3em;
    padding: 0.4em 1.4em 0.4em 1.4em;
    border-radius: 8px;
    border: 2px solid #0a475c;
    background-color: #0a475c;
    color: #e6e6e6;
    transition: all .3s
}

.submit_admin:hover {
    opacity: 1;
    background: #d23a99;
    border: 2px solid #d23a99;
}