.container .row {
    margin: 7em 0 2em 0;
}

.tienda_no_log {
    padding-top: 12em;
    height: 32em;
    text-align: center;
}

.tienda_no_log h2 {
    font-family: norwester;
    color: #0a475c;
    font-size: 2.4em;
    margin-bottom: 1.2em;
}

.btn_volver_login, .btn_volver_landpage {
    border-radius: 3px;
    font-size: 1em;
    font-family: open_sans_medium;
    color: white;
    padding: 0.6em 1.2em 0.6em 1.2em;
    text-decoration: none;
    transition: all .3s;
}

.row_tienda_clasificacion {
    color: #590696;
}

.btn_volver_landpage {
    background-color:#590696;
}

.btn_volver_login {
    background-color: #590696;
}

.btn_volver_login:hover, .btn_volver_landpage:hover {
    background-color: #FBCB0A;
    color: #0a475c;
}

.carrito {
    text-align: right;
}

.btn_carrito {
    position: fixed;
    z-index: 1; /* Para superponerse al resto de objetos en la página */
    bottom: 1.4em;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: none;
}

@media (max-width: 1024px) {    
    .container .row {
        margin-top: 7em;
    }
    
    .btn_carrito {
        left: 91%;
    }
}

/* Carrito */

.tabla_carrito {
    width: 100%;
    font-family: open_sans_regular;
}

.titulo_carrito {
    font-family: norwester;
    color: #590696;
    font-size: 1.8em;
}

.carrito_fila {
    padding-top: 1em;
}

.btn_borrar_carrito{
    margin-top: 0.85em;
    background-color: red;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-radius: 4px;
    border: none;
}

.btn_borrar_carrito:hover{
    background-color: darkred;
}
